{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "parser": "typescript",
    "overrides": [
      {
        "files": "*.json",
        "options": {
          "parser": "json",
          "trailingComma": "none"
        }
      }
    ]
  }
  